.chitiet-chitiet  {
    
}

.form-active-chitiet {
    
}

.form-active-chitiet-close {

}

.chitiet-container {
    display: flex;
}

.chitiet-container-img-content {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
    position: relative;
}

.chitiet-container-above {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.chitiet-container-above-img {
    width: 90%;
    margin: auto;
    
    
}

.chitiet-container-below {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: auto;
}

.chitiet-container-below li {
    margin-right: 12px;
}

.chitiet-container-hinhnho {
    border: 1px solid #ccc;
}

.chitiet-container-below-img-con {
    width: 55px;
    height: 55px;
    padding: 5px;
}

.chitiet-container-link {
    text-decoration: none;
}

.chitiet-container-tenhinh {
    color: #444;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin: 5px 2px;
}

/* icon chuyển hình */
.chitiet-icon-nav {
    display: flex;
    justify-content: space-between;
}

.chitiet-icon-nav-left i{
    width: 26px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem; 
}

.chitiet-icon-nav-right i{
    width: 26px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem; 
}

.chitiet-icon-nav-left {
    width: 26px;
    height: 43px;
    background-color: #d6d6d6;
    left: 0;
     margin-top: -50%;
    transform: translateY(-50%);
}

.chitiet-icon-nav-right {
    width: 26px;
    height: 43px;
    background-color: #d6d6d6;
    float: right;
    margin-top: -50%;
    transform: translateY(-50%);
}



/* Ô thứ 2 */
.chitiet-container-embrace {
    padding: 0 10px;
}

.chitiet-container-embrace {
    margin-left: 15px;
}
.chitiet-container-price {
    font-size: 1.8rem;
    color: var(--privary-key);
    display: flex;
}

.chitiet-container-nhandat span {
    display: block;
    color: #d00247;
    margin-top: 10px;
    font-size: 1.8rem;
}

.chitiet-container-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.chitiet-container-type-item {
    border: 1px solid #ccc;
    display: flex;
    margin: 10px 0;
    border-radius: 2px;
    width: 137px;
    height: 52px;
    align-items: center;
    margin-right: 20px;
}

.chitiet-container-type-item:hover {
    border: 1px solid #ff6700;
    cursor: pointer;
}

.chitiet-container-type-item-blow {
    padding: 5px;
    font-size: 1.2rem;
}

.chitiet-container-type-item-img {
    width: 35px;
    height: 35px;
    
}

.chitiet-container-type-item-tyle {
    display: block;
}

.chitiet-container-type-item-price {

}


.chitiet-container-type-btn {
    width: 100%;
    height: 46px;
    padding: 10px;
    font-size: 1.8rem;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    color: var(--while-color);
    background: -webkit-linear-gradient(left,#FF6700,#F9920F);
}

.chitiet-container-type-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

.form-active-chitiet-close {
    top: 0;
    right: 0;
    position: absolute;
    padding: 10px 15px;
    font-size: 1.3rem;
    background: var(--privary-key);
    color: var(--while-color);
}

.chitiet-container-chitiet-khuyenmai {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.chitiet-container-chitiet-khuyenmai h4 {
    margin: 0;
    padding: 10px 15px;
    font-size: 1.6rem;
    line-height: 19px;
    font-family: Semibold;
    background: #f4f4f4;
    font-weight: 400;
}

.chitiet-container-chitiet-khuyenmai-list {
    list-style: none;
    margin: 0;
    padding: 15px 15px 0 15px;
    padding-left: 26px;
    padding-bottom: 10px;
}

.chitiet-container-chitiet-khuyenmai-item {
    
    padding-left: 26px;
    margin-bottom: 10px;
    background: url(/WebDiDong_PTPMCN/DiThoaiThongMinh-PTPMCN/assets/img/icon/icon_check.svg) 
    top 0 left 0 no-repeat;

}

.chitiet-container-type-btn-tragop-phantram {
    width: 50%;
    margin-right: 5px;
    height: 46px;
    border: none;
    border-radius: 3px;
    color: var(--while-color);
    background: -webkit-linear-gradient(left,#20863D,#60BB22);
}

.chitiet-buton-thanhtoan button {
    font-size: 1.3rem;
    
} 

.chitiet-container-type-btn-tragop-phantram h4 {
    margin: 0;
    font-weight: 400;
}

.chitiet-container-type-btn-tragop-phantram span {
   
}

.chitiet-container-type-btn-tragop-the {
    color: var(--while-color);
    border: none;
    width: 50%;
    height: 46px;
    border-radius: 3px;
    background: -webkit-linear-gradient(left,#20863D,#60BB22);
}

.chitiet-container-type-btn-tragop-the h4 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.chitiet-container-type-btn-tragop-the span {
    font-size: 1.2rem;
}

.chitiet-buton-thanhtoan {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.chitiet-container-copy {
    display: flex;
    margin-top: 10px;
}
.chitiet-container-copy button {
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 3px;
    padding: 8px;
    width: 50%;
    cursor: pointer;
    border: none;
    height: 62px;
    display: block;
}  

.chitiet-container-copy-link {
    margin-right: 5px;
}

.chitiet-container-copy-link span {
    font-size: 1.5rem;
    color: #333;
}

.chitiet-container-copy-thongtin span {
    font-size: 1.5rem;
    color: #333;
}

.chitiet-container-boder {
    display: block;
    
}

/* Ô thứ 3 */
.tinhtrang-content {
    /* background-color: black; */
}

.tinhtrang-button__chitiet-link {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #f60;
    border-radius: 3px;
    color: #f60;
    display: block;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.title_charactestic {
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
}

.content_charactestic {
    padding-left: 20px;
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
}

.tr-1 {
   background-color: #f5f5f5;
}

.header__nav-type {
    margin-bottom: 20px;
}

.header-chitiet-content {
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header-chitiet-content h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Semibold;
    padding-right: 15px;
    opacity: 0.8;
}
/* Model */
.model-heading {
    text-align: center;
    text-transform: uppercase;
}

.model-heading__text {
    font-size: 20px;
    line-height: 1.4;
   
}

.group_field {
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: 700;
    width: 50%;
    padding: 10px;
}

.modal-chitiet {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.model-container__chitiet{
    background-color: var(--while-color);
    padding: 20px 30px;
    max-width: 45%;
    position: relative;
    border-radius: 3px;
    animation: modalFadeIn ease 0.4s;
}

.model-content-detail {
    width: 100%;
}

.model-content-detail__title {
    padding: 10px;
    color: #333;
    width: 40%;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #f1f1f1;
}

.model-content-detail__charactestic {
    padding: 10px;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #f1f1f1;
}
/* Close model */
.close-model-chitiet {
    color: #f60;
    font-weight: 400;
    margin-top: 0;
    opacity: 1;
    padding: 1px 4px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 40px;
    border: none;
    background-color: var(--while-color);
    cursor: pointer;
    
}

.close-model-chitiet:hover {
    opacity: 0.8;
}

 .open {
    display: flex;
}
/* .modal-chitiet .open {
    display: flex;
} */

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }to {
        opacity: 1;
        transform: translate(0);
    }
}

